GRPC_ADDR=:9090
METRICS_ADDR=:2112
SHUTDOWN_TIMEOUT=10s

DATABASE_URL=postgres://postgres:postgres@localhost:5432/grinex?sslmode=disable

GRINEX_URL=https://grinex.io/api/v1/spot/depth
GRINEX_SYMBOL=usdta7a5

CALC_METHOD=topn
CALC_N=1
CALC_M=3

OTEL_SERVICE_NAME=grinex-rates
LOG_LEVEL=info
